<app-reaction-panel [placeholder]="'Enter the reaction you want to add'" [title]="'Added reactions:'"></app-reaction-panel>
<app-reaction-panel [placeholder]="'Enter the reaction you want to remove'" [title]="'Removed reactions:'"></app-reaction-panel>
<app-reaction-panel [placeholder]="'Enter the reaction to set as objective'" [title]="'Objective:'"></app-reaction-panel>
<app-reaction-panel [placeholder]="'Enter the reaction you want to change'" [title]="'Changed reactions:'"></app-reaction-panel>
