<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button
            type="button"
            *ngIf="!sidenav.opened"
            (click)="sidenav.open()">
      <mat-icon>menu</mat-icon>
    </button>

    <!-- <app-search fxFlex>
      <h1> {{getTitle()}} </h1>
    </app-search> -->
    <button class="topright-menu"
            mat-icon-button
            type="button"
            routerLink="/login"
            *ngIf="!(sessionState | async).authenticated">
      <mat-icon>lock</mat-icon>
      Log In
    </button>
    <button class="topright-menu"
            mat-icon-button
            type="button"
            routerLink="/logout"
            *ngIf="(sessionState | async).authenticated">
      <mat-icon>power_settings_new</mat-icon>
      Logout
    </button>
  </mat-toolbar-row>
</mat-toolbar>
