<mat-list>
  <div *ngFor="let item of itemsSelected; let index = index">
    <mat-list-item (click)="clickedItemFunction({item: item})">
      <span>-1000</span>
      <span class="item-display">
        	&#8804; <span>FBA</span>
          &#8804;
      </span>
      <span>1000</span>
      <button mat-icon-button align="end" (click)="removeItem(item)">
        <mat-icon>close</mat-icon>
      </button>
    </mat-list-item>
    <div class="box-bounds" [hidden]="!showItem(item, index)">
      <mat-list-item *ngIf="item">
        <input class="input-lower" type="number" ([ngModel])="lowerbound"/>
        <span class="item-display-box">
          	&#8804; <span>FBA</span> &#8804;
        </span>
        <input class="input-upper" type="number" ([ngModel])="upperbound"/>
      </mat-list-item>
      <mat-list-item *ngIf="item">
        <button class="button-apply" (click)="onApplyBounds({item: item})">
          Apply
        </button>
        <button class="button-reset" (click)="onResetBounds({item: item})">
          Reset
        </button>
      </mat-list-item>
    </div>
  </div>
</mat-list>
